body{
    background-color: rgb(71, 71, 71);
    margin: 0px;
    padding: 0px;
}

#menu{
background-color: rgb(51, 51, 51); ; 
    padding-bottom: 10px;
    padding: 0px;

}

#login{
    display: inline-block;
  text-align: right;
  background-color:rgb(128, 128, 128); ;
}

#menu #login a :hover{
    background-color:rgb(61, 61, 61); ;


}



#menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-align: right;
}

#menu ul a{
 text-decoration: none;
 
}

#menu ul a li{
display: inline;
color: white;
padding: 10px;
font-size: 14pt;
line-height: 15px;


}

#menu ul a{
    padding: 23px;
    display: inline-block;
   
}

#menu a:hover{
    background-color: rgb(199, 194, 194);


}