@charset "UTF-8";
*{
    text-align: justify;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

    ;/*height: 100% */
}
body{
    background-image: linear-gradient(to bottom,#169C4E,#1BC261);
    background-attachment: fixed;
}

h1{
    font-size: 20pt;
    color: #094221;
    text-align: center;
}

h2{
 color: #094221;

}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d5c2e9a;


}


div{
    background-color: white;
    width: 50px;
    border-radius: 10px;
    padding: 10px;

}

